<img src="img/Marca-ITBA-Color-ALTA.png" width="200">

# Master en Management & Analytics

## Programación para el Análisis de Datos

## Clase 2 - práctica resuelta

In [91]:
import numpy as np
import pandas as pd
import os
print(os.getcwd())

c:\Users\MEC\Documents\itba\analisis_datos\clase_2\clase 2 - practica\clase 2 - practica

### Ejercicio 1

Escribir una función que sume todos los multiplos de 7 y 9 menores a 100

In [92]:
def sum_m7_m9(lista: list):
    lista = lista[lista < 100]
    lista = lista[(lista % 7 == 0) | (lista % 9 == 0)]
    print(lista)
    lista = np.sum(lista)
    return lista
    
a = np.arange(1, 200)

sum_m7_m9(a)

[ 7  9 14 18 21 27 28 35 36 42 45 49 54 56 63 70 72 77 81 84 90 91 98 99]

1266

### Ejercicio 2

Crear una función que calcule la media movil con una ventana de largo 3.

**pista:**
- $$SMA = \frac{A_{n-2} + A_{n-1} + A_{n}}{3}$$
- Método [*cumsum*](https://numpy.org/doc/stable/reference/generated/numpy.cumsum.html)

In [93]:
def media_movil_3(lista: list):
    print(lista)
    lista = [sum(lista[i-3:i])/3 for i in lista[2:]]
    #lista = lista[::]
    return lista
    
a = np.arange(1,11)

media_movil_3(a)

[ 1  2  3  4  5  6  7  8  9 10]

[2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

### Ejercicio 3


* Crear un dataframe que contenga la siguiente información:


|    |  Nombre             | Posición | Número
|---:|:---------           | :----    |:----
|  0 | Nery Pumpido        | ARQ      | 18
|  1 | José Cuciuffo       | DEF      | 9
|  2 | José Luis Brown     | DEF      | 5
|  3 | Oscar Ruggeri       | DEF      | 19
|  4 | Sergio Batista      | MED      | 2
|  5 | Ricardo Giusti      | MED      | 14
|  6 | Jorge Burruchaga    | MED      | 7
|  7 | Héctor Enrique      | MED      | 12
|  8 | Julio Olarticoechea | MED      | 16
|  9 | Jorge Valdano       | DEL      | 11
|  10| Diego Maradona      | DEL      | 10

In [94]:
jugadores = [
    {"Nombre": "Nery Pumpido", "Posición": "ARQ", "Número": 18},
    {"Nombre": "José Cuciuffo", "Posición": "DEF", "Número": 9},
    {"Nombre": "José Luis Brown", "Posición": "DEF", "Número": 5},
    {"Nombre": "Oscar Ruggeri", "Posición": "DEF", "Número": 19},
    {"Nombre": "Sergio Batista", "Posición": "MED", "Número": 2},
    {"Nombre": "Ricardo Giusti", "Posición": "MED", "Número": 14},
    {"Nombre": "Jorge Burruchaga", "Posición": "MED", "Número": 7},
    {"Nombre": "Héctor Enrique", "Posición": "MED", "Número": 12},
    {"Nombre": "Julio Olarticoechea", "Posición": "MED", "Número": 16},
    {"Nombre": "Jorge Valdano", "Posición": "DEL", "Número": 11},
    {"Nombre": "Diego Maradona", "Posición": "DEL", "Número": 10},
]

df = pd.DataFrame(jugadores)
display(df)

                 Nombre Posición  Número
0          Nery Pumpido      ARQ      18
1         José Cuciuffo      DEF       9
2       José Luis Brown      DEF       5
3         Oscar Ruggeri      DEF      19
4        Sergio Batista      MED       2
5        Ricardo Giusti      MED      14
6      Jorge Burruchaga      MED       7
7        Héctor Enrique      MED      12
8   Julio Olarticoechea      MED      16
9         Jorge Valdano      DEL      11
10       Diego Maradona      DEL      10

### Ejercicio 4

* A partir del dataframe creado, generar una serie con el nombre de los mediocampistas

**Ayuda:** usar una máscara booleana

In [95]:
df_med = pd.Series(df["Nombre"][df["Posición"]=="MED"])
display(df_med)
print(type(df_med))

4         Sergio Batista
5         Ricardo Giusti
6       Jorge Burruchaga
7         Héctor Enrique
8    Julio Olarticoechea
Name: Nombre, dtype: object

<class 'pandas.core.series.Series'>

### Ejercicio 5

* Mostrar un dataframe con el nombre y el número de todos los jugadores con número de camiseta par

In [96]:
df_par = df[["Nombre", "Número"]][df["Número"] % 2 == 0]
print(df_par)

                 Nombre  Número
0          Nery Pumpido      18
4        Sergio Batista       2
5        Ricardo Giusti      14
7        Héctor Enrique      12
8   Julio Olarticoechea      16
10       Diego Maradona      10

### Ejercicio 6

* Importar con pandas el dataset **'data/US Presidential Election Results - ResultsByTurnout.csv'**


* Mirar qué tipo de datos hay en cada columna y si hay valores nulos

In [97]:
df = pd.read_csv("data\\US Presidential Election Results - ResultsByTurnout.csv")
display(df.dtypes)
display(df.isna().sum())
display(df.describe())

ElectionYear             int64
Turnout(%)             float64
TotalVotes              object
TotalElectoralVotes      int64
ElectoralVotesToWin      int64
dtype: object

ElectionYear           0
Turnout(%)             0
TotalVotes             0
TotalElectoralVotes    0
ElectoralVotesToWin    0
dtype: int64

       ElectionYear  Turnout(%)  TotalElectoralVotes  ElectoralVotesToWin
count     59.000000   59.000000            59.000000            59.000000
mean    1904.000000   57.457627           407.542373           204.033898
std       68.702256   18.978919           144.850020            72.419983
min     1788.000000    6.300000            69.000000            35.000000
25%     1846.000000   53.500000           292.000000           146.000000
50%     1904.000000   60.100000           476.000000           238.000000
75%     1962.000000   70.800000           537.500000           269.000000
max     2020.000000   82.600000           538.000000           269.000000

In [98]:
df.head()

,ElectionYear,Turnout(%),TotalVotes,TotalElectoralVotes,ElectoralVotesToWin
0,1788,11.6,"39,624",69,35
1,1792,6.3,"28,300",132,66
2,1796,20.1,"66,841",138,69
3,1800,32.3,"75,142",138,69
4,1804,23.8,"143,029",176,88

### Ejercicio 7

* ¿En qué año se registró el mayor porcentaje de participación (Turnout)? ¿Y el mínimo?

In [99]:
print(df["Turnout(%)"].max())
print(df["Turnout(%)"].min())

82.6
6.3

### Ejercicio 8

* Convertir la columna TotalVotes  que es de tipo 'object' a tipo numérico. Para ello es necesario eliminar las comas que indican miles. 

**Ayuda:** aplicar los métodos str.replace(...) y luego .astype(...) sobre la serie TotalVotes

In [100]:
df["TotalVotes"] = df["TotalVotes"].str.replace(",", "").astype(int)
display(df["TotalVotes"].head())

0     39624
1     28300
2     66841
3     75142
4    143029
Name: TotalVotes, dtype: int32

### Ejercicio 9

* Generar una nueva columna que contenga la cantidad de gente empadronada (ElectoralRoll). Calcularlo a partir del número total de votos registrados (TotalVotes) y el porcentaje de participación (Turnout(%))

In [104]:
df["ElectoralRoll"] = (df["TotalVotes"] / (df["Turnout(%)"] / 100)).astype(int)
df["ElectoralRoll"]

0        341586
1        449206
2        332542
3        232637
4        600962
5        523616
6        690064
7        664911
8       1072861
9       1359973
10      2013575
11      2270128
12      2661122
13      3003496
14      3413710
15      3954923
16      4549395
17      5109127
18      5728069
19      5284255
20      7073473
21      8970427
22     10192081
23     11452766
24     12864635
25     14140770
26     15920893
27     17508739
28     18992436
29     20648858
30     22662464
31     25506498
32     29994474
33     54400772
34     59503286
35     64687191
36     69862738
37     74832293
38     79971334
39     85826588
40     93474204
41     99120292
42    103025461
43    107887902
44    112482936
45    117119996
46    138334572
47    148780262
48    159611952
49    167850059
50    173474784
51    179731364
52    186223663
53    194504470
54    203486430
55    213171785
56    220282269
57    227403121
58    239249853
Name: ElectoralRoll, dtype: int32

### Ejercicio 10

* ¿En qué año se registró por primera vez más del 50% de participación?

In [107]:
df[df["Turnout(%)"]>50][0:1]

,ElectionYear,Turnout(%),TotalVotes,TotalElectoralVotes,ElectoralVotesToWin,ElectoralRoll
10,1828,57.3,1153779,261,131,2013575

### Ejercicio 11

* ¿Cuál fue el máximo, mímino, promedio y desvio estandar en el nivel de participación durante siglo XX?

In [112]:
df[(df["ElectionYear"]>=1900) & (df["ElectionYear"]<2000)]["Turnout(%)"].describe()

count    25.000000
mean     58.548000
std       5.780003
min      48.900000
25%      54.800000
50%      58.100000
75%      62.400000
max      73.700000
Name: Turnout(%), dtype: float64